<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Digital Vidya Data Analytics Python Tutorial
### Digital Vidya Copyright

# Introduction to Python

    Operators
    Data Types
    Conditionals: if-else
    Loops: While & for
    Functions

### Operators:
#### Operators are special symbols in Python that carry out arithmetic or logical computation.

    Arithmetic operators: + - / * %
    Comparison operators: > < >= <= == !=
    Logical operators: and or not
    Assignment operators: = += *= -= 
    Identity operators(special in Python): is, is not
    Membership operator(tests whether a value is found in a sequence): in, not in

### Mathematical Operations

In [164]:
4+5
# + operator
# 4 and 5 are operands
# 9 is the output

9

In [165]:
3-4

-1

In [166]:
3*5

15

In [167]:
2/100

0.02

In [168]:
101//2 #Floor division - division that returns whole number adjusted to the left of the number line

50

In [169]:
7//2

3

In [170]:
101%2 #modulo

1

In [171]:
3**4  #Exponent
#5**3

81

#### import python library math. Once imported, you can use the built-in functions/classes of math

In [173]:
import math

In [174]:
math.exp(2) #e**x mathematical constant value  2.71828. Its the base of the natural log

7.38905609893065

In [395]:
math.log10(100)

2.0

In [396]:
math.log10(10000) #base(10)**4 = 10000

4.0

In [176]:
math.pow(2,3) # Returns value of x raised to the power y

8.0

In [177]:
math.sqrt(25)

5.0

In [195]:
math.ceil(3.2) # Returns next higher integer

4

In [196]:
math.floor(3.999) # Returns next lower integer

3

In [402]:
# Find sum of areas of circles with radius 1,2,3,4 and 5 respectively

math.pi * math.pow(1,2) + math.pi * math.pow(2,2) + math.pi * math.pow(3,2) + math.pi * math.pow(4,2) + math.pi * math.pow(5,2)

172.7875959474386

In [401]:
# It would be easier to save the area of individual circles in someplace and use it later.

area_1 = math.pi * math.pow(1,2)

area_2 = math.pi * math.pow(2,2)

area_3 = math.pi * math.pow(3,2)

area_4 = math.pi * math.pow(4,2)

area_5 = math.pi * math.pow(5,2)

area = area_1 + area_2 + area_3 + area_4 + area_5
area 

# Here area_1, area_2 etc. are variables.

172.7875959474386

### Variables
#### Variables are used to store information to be referenced and manipulated in a computer program.

Dynamically Typed languages perform type checking at runtime, while statically typed languages perform type checking at compile time. 
Script will compile even if it contains errors that will prevent the script from running properly, whereas for statically typed language it will fail to compile until the errors have been fixed.

In [397]:
x = 4 # Dynamically typed, do not have to specify int here.
type(x)

int

In [398]:
x = 'ABC'
type(x) #data type

str

### Data types

    Numbers: Integers (1, 2), floats (1.1, 1.2), fractions (1/2 and 2/3), or even complex numbers.
    Strings: Sequences of Unicode characters.
    Booleans: True or False.
    Lists: Ordered sequences of values. Could be of mixed data types.
    Tuples: Ordered, immutable sequences of values.
    Sets: Unordered bags of values.
    Dictionaries: Unordered bags of key-value pairs.

### Number
#### Integer, Float, complex
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

In [404]:
x = 10 #Assignment operator
y = x*2
y

20

In [405]:
y = x**2
type(y)

int

In [406]:
# Division operation on int will convert the variable type to float even if the result is an int

y = x/2 
y ,type(y)

(5.0, float)

In [408]:
z = x//2 #floor division
z, type(z)

(5, int)

In [409]:
# Order of operations: same as maths

y = 2*x+5 
y

25

In [410]:
y = 2*(x+5)
y

30

In [411]:
y = x/10+1
y

2.0

#### Typecasting

In [413]:
x = float(10) 
type(x), x

(float, 10.0)

In [414]:
x = int(10.6)
x

10

In [415]:
complex(2,3)

(2+3j)

### Boolean
#### Some operations are supported by several object types; in particular, practically all objects can be compared, tested for truth value, and converted to a string

In [197]:
x = 5 
x > 10 #Comparison operator > < >= <= != ==

False

In [198]:
y = 5 #Assignemnt operator
x == y # Comparison operator

True

In [199]:
2 < 10

True

In [201]:
'abc' == 'abc'
'Abc' == 'abc'

False

In [423]:
# Truth Value Testing: 

#https://docs.python.org/3/library/stdtypes.html#truth-value-testing

print(False == 0)
print(True == 0)
print(True == 1)
print(False == False)

True
False
True
True

In [427]:
# By default, an object is considered true, unless it is 
x = -10
y = 0
z = True
w = None

if x: print('x is true')

if y: print('y is true')
    
if z: print('z is true')
    
if w: print('w is true')

x is true
z is true

### Strings
#### Strings are amongst the most popular types in Python. They come in handy while handling text data. In Data Analysis its often used wide range of things from text cleaning/manipulation, dates conversion to sentiment analysis.
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [215]:
s = "Sachin Tendulkar" 
len(s)

16

In [429]:
# A number in quotes would be treated as a string
n = "100" 
type(n)

str

#### Indexing

Starts from 0 to (length of data) - 1

In [428]:
s[0] #square bracket for indexing
s[8]
s[6]
s[15]

'o'

#### Negative Indexing

Starts from -1 to -(len of iterable), in reverse order

In [228]:
s[-1]
s[-16]

'S'

In [229]:
s[-16] == s[0]

True

In [230]:
#Slicing : Only upper bound - Not included
s[:3] #From index 0 to 2, 3 not included

'Sac'

In [117]:
#Only lower bound - Included
s[3:] #From 3 to end

'hin Tendulkar'

In [231]:
s[:3] + s[3:]

'Sachin Tendulkar'

In [118]:
s[3:7]

'hin '

In [119]:
s[:]

'Sachin Tendulkar'

#### Handling Special characters in string

In [233]:
s = 'Sachin's Score'
s

SyntaxError: invalid syntax (<ipython-input-233-afc40e4531d9>, line 1)

In [234]:
s = 'Sachin\'s score' #escape character, takes it literally
s

"Sachin's score"

In [235]:
s = "Sachin's_Score"
s

"Sachin's_Score"

In [446]:
x = 'a\b'
x

'a\x08'

In [443]:
# Use another backslash or raw string
y = 'a\\b'
y[1], len(y[1])

('\\', 1)

In [440]:
z = r'a\b'
z

'a\\b'

#### Splitting a string
Split(): Splits the string and add the data to a string array using a defined separator.
If no separator is defined when you call upon the function, whitespace will be used by default

In [280]:
s = 'sachin virat dhoni zaheer'
s1 = s.split() #separator
s1

['sachin', 'virat', 'dhoni', 'zaheer']

In [249]:
s2 = 'another, string, with, many, separators'
s2 = s2.split(', ')
s2

['another', 'string', 'with', 'many', 'separators']

In [251]:
new = 'gsgsj#$762562#$%^gsf'
new_l = new.split('#')
new_l

['gsgsj', '$762562', '$%^gsf']

In [271]:
new = 'gsgsj#$762562#$%^gsf'
new.split('#')[1]

'$762562'

In [269]:
'ab cd ef gh'.split(' ', 2)

['ab', 'cd', 'ef gh']

In [276]:
# Column

#'India UK 2020'.split()[0]
'USA Mexico Canada 2021'.split()[0] + 'USA Mexico Canada 2021'.split()[-1]

'USA2021'

In [288]:
' Sachin    Ten '.strip()

'Sachin    Ten'

#### String concatenation

In [277]:
s1 = 'Virat'
s2 = 'Kohli'
s3 = s1 + s2
s3

'ViratKohli'

In [278]:
#String is a sequence of unicode characters - ' ' space is a string
s1 + ' ' + s2

'Virat Kohli'

#### Strings are not mutable

In [296]:
s[0] = 'Z'

TypeError: 'str' object does not support item assignment

### List: sequence of values
Supports mixed dtypes

https://docs.python.org/3/tutorial/datastructures.html?highlight=lists

In [448]:
l = [5,2,4,1,10] #square brackets
l

[5, 2, 4, 1, 10]

In [449]:
len(l)

5

In [450]:
l[2]
l[4]
l[-2]

1

In [451]:
#Lists are mutable
l[0] = 20
l

[20, 2, 4, 1, 10]

In [452]:
l[3]

1

In [453]:
l[-1]

10

In [454]:
l[-2]

1

In [455]:
l[5]

IndexError: list index out of range

#### list slicing

In [456]:
l[1:] #[1:] all elements from index number 1 till the end
l[:2] # all elements from index 0 till index 1 (2 in not included)
l

[20, 2, 4, 1, 10]

In [457]:
l[1:2]

[2]

In [458]:
l[1:3]

[2, 4]

In [459]:
l[::-1]
l[::-3]
l[2::2]

[4, 10]

### Python list: Built-in functions
https://docs.python.org/3/tutorial/datastructures.html

In [316]:
l

[20, 2, 4, 1, 10]

In [317]:
l.append(50) #inplace, no need to assign
l

[20, 2, 4, 1, 10, 50]

In [318]:
l.insert(1, 1000) #(position, value)
l

[20, 1000, 2, 4, 1, 10, 50]

In [326]:
l = [5,3,9,6,12]
l.remove(6)
l.remove(100) #throws an error
l

ValueError: list.remove(x): x not in list

In [328]:
l = [5,3,9,6,12]
l.pop(2), l

(9, [5, 3, 6, 12])

In [331]:
l = [7,3,10,15,1,5]
l.sort(reverse = True) #Default ascending, reverse = True for descending
l

[15, 10, 7, 5, 3, 1]

In [332]:
l1 = [6,3,9,1]
l1.reverse()
l1

[1, 9, 3, 6]

In [335]:
sum(l)
max(l)
min(l)

1

### Strings are immutable

In [177]:
#change string s
s

'sachin virat, dhoni zaheer'

In [178]:
s[0] = 'B'

TypeError: 'str' object does not support item assignment

In [336]:
#list of strings
my_l = ['Hello', 'and','World', 'join', 'like', 'this']
type(my_l)

list

In [340]:
bool_l = [True, False, False]
bool_l

[True, False, False]

#### join():  used to concatenate a list of strings.
separator.join(l)

In [341]:
'this and that'.split()

['this', 'and', 'that']

In [342]:
l = ['Hello', 'and','World', 'join', 'like', 'this']
','.join(l) #separator

'Hello,and,World,join,like,this'

In [343]:
'_'.join(l) #separator

'Hello_and_World_join_like_this'

In [346]:
l = ''.join(l) # Assignment is needed
l

'HelloandWorldjoinlikethis'

In [352]:
# list with mixed dtypes
new_l = [0, 'abc', 2,'xyz', 5.5, True]
new_l

[0, 'abc', 2, 'xyz', 5.5, True]

In [353]:
new_l.remove(2)
new_l

[0, 'abc', 'xyz', 5.5, True]

In [354]:
new_l[1]

'abc'

In [355]:
new_l.reverse()
new_l

[True, 5.5, 'xyz', 'abc', 0]

In [194]:
' '.join(new_l)

TypeError: sequence item 0: expected str instance, int found

In [358]:
l
#new_l
l + new_l

['chris gayle', 'sachin tendulkar', 'ross taylor', True, 5.5, 'xyz', 'abc', 0]

In [361]:
l, new_l

(['chris gayle', 'sachin tendulkar', 'ross taylor'],
 [True, 5.5, 'xyz', 'abc', 0])

In [362]:
# It important to assign the value to a variable

#l = l + new_l 
#OR
l+=new_l  #Assignment operator l = l + new_l
l

['chris gayle', 'sachin tendulkar', 'ross taylor', True, 5.5, 'xyz', 'abc', 0]

#### Nested Lists

In [375]:
l = [[1,2], [3,4,5], 6, [7], [8,[9,10],11]]
len(l)

5

In [376]:
type(l[1])
type(l[3])

list

In [381]:
n = l[4][1][0]
n

9

### Dictionary: key-value pair
    A dictionary in Python is a collection of unordered values accessed by key rather than by index
https://docs.python.org/3/tutorial/datastructures.html#dictionaries

#### Creating a dictionary

In [460]:
d = {'vegetable': 'Potato','fruit': 'apple'} # key:value
d[0] # Un-ordered and hence can not index using number

KeyError: 0

In [461]:
d['fruit'] #Indexing using key, d[key] = value

'apple'

In [386]:
# Keys need not be string

d1 = {1 : 'Apple', 2 : 'Microsoft'} #Integer as dictionary key
d1[2]

'Microsoft'

In [462]:
matches=pd.read_csv('matches.csv') 
winner = matches.groupby('season').winner.last().to_dict() # Please ignore the code used to create the dictionary!
winner

{2008: 'Rajasthan Royals',
 2009: 'Deccan Chargers',
 2010: 'Chennai Super Kings',
 2011: 'Chennai Super Kings',
 2012: 'Kolkata Knight Riders',
 2013: 'Mumbai Indians',
 2014: 'Kolkata Knight Riders',
 2015: 'Mumbai Indians',
 2016: 'Sunrisers Hyderabad'}

#### Accessing values

In [391]:
winner[2008]

'Rajasthan Royals'

In [392]:
winner[2016]

'Sunrisers Hyderabad'

In [465]:
# Dictionary keys have to be unique

winner = {2008: 'Rajasthan Royals',
 2009: 'Deccan Chargers',
 2010: 'Chennai Super Kings',
 2011: 'Chennai Super Kings',
 2012: 'Kolkata Knight Riders',
 2013: 'Mumbai Indians',
 2014: 'Kolkata Knight Riders',
 2015: 'Mumbai Indians',
 2016: 'Sunrisers Hyderabad', 2016 : 'RCB'}
winner

{2008: 'Rajasthan Royals',
 2009: 'Deccan Chargers',
 2010: 'Chennai Super Kings',
 2011: 'Chennai Super Kings',
 2012: 'Kolkata Knight Riders',
 2013: 'Mumbai Indians',
 2014: 'Kolkata Knight Riders',
 2015: 'Mumbai Indians',
 2016: 'RCB'}

#### Updating a dictionary

In [14]:
winner[2017] = 'MI'
winner

{2008: 'KKR',
 2009: 'Deccan Chargers',
 2010: 'Chennai Super Kings',
 2011: 'Chennai Super Kings',
 2012: 'Kolkata Knight Riders',
 2013: 'Mumbai Indians',
 2014: 'Kolkata Knight Riders',
 2015: 'Mumbai Indians',
 2016: 'Sunrisers Hyderabad',
 2017: 'MI'}

In [463]:
#Updating an existing key

winner[2008] = 'RR' # Overwrites the previous value as the keys have to be unique
winner

{2008: 'RR',
 2009: 'Deccan Chargers',
 2010: 'Chennai Super Kings',
 2011: 'Chennai Super Kings',
 2012: 'Kolkata Knight Riders',
 2013: 'Mumbai Indians',
 2014: 'Kolkata Knight Riders',
 2015: 'Mumbai Indians',
 2016: 'Sunrisers Hyderabad'}

#### Deleting elements from a dictionary

In [16]:
#Delete a key-value pair
del winner[2017] 
winner

{2008: 'RR',
 2009: 'Deccan Chargers',
 2010: 'Chennai Super Kings',
 2011: 'Chennai Super Kings',
 2012: 'Kolkata Knight Riders',
 2013: 'Mumbai Indians',
 2014: 'Kolkata Knight Riders',
 2015: 'Mumbai Indians',
 2016: 'Sunrisers Hyderabad'}

In [17]:
#Delete all the values from a dictionary
winner.clear()
winner

{}

In [18]:
#Delete the dictionary
del winner
winner

NameError: name 'winner' is not defined

#### Built-in functions & methods

In [64]:
ipl = matches.loc[:5, ['toss_winner', 'toss_decision']].set_index('toss_winner')['toss_decision'].to_dict()
ipl

{'Chennai Super Kings': 'bat',
 'Deccan Chargers': 'bat',
 'Kings XI Punjab': 'bat',
 'Mumbai Indians': 'bat',
 'Rajasthan Royals': 'bat',
 'Royal Challengers Bangalore': 'field'}

In [65]:
len(ipl)

6

In [66]:
type(ipl)

dict

In [67]:
ipl['Deccan Chargers']

'bat'

In [68]:
ipl.keys()

dict_keys(['Royal Challengers Bangalore', 'Chennai Super Kings', 'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab'])

In [69]:
ipl.values()

dict_values(['field', 'bat', 'bat', 'bat', 'bat', 'bat'])

In [70]:
ipl.items()

dict_items([('Royal Challengers Bangalore', 'field'), ('Chennai Super Kings', 'bat'), ('Rajasthan Royals', 'bat'), ('Mumbai Indians', 'bat'), ('Deccan Chargers', 'bat'), ('Kings XI Punjab', 'bat')])

In [73]:
'Deccan Chargers' in ipl.keys()

True

In [71]:
'Sunrisers Hyderabad' in ipl.keys()

False

In [72]:
'Chennai_super_kings' in ipl.keys()

False

#### dictionary .get()

In [74]:
ipl.get('Royal Challengers Bangalore')

'field'

In [75]:
ipl.get('Chennai_super_kings')

#### max key and value

In [76]:
d = {'one' : 34, 'two': 93, 'three': 71, 'four': 100, 'five': 100}
max(d.values())

100

In [78]:
max(d.keys())

'two'

In [77]:
max(d, key = d.get)

'four'

In [267]:
state_population = {'karnataka': 50000, 'Maharashtra': 750000, 'UP': 200000, 'MP': 185000}
max(state_population, key = state_population.get)

'Maharashtra'

#### Nested dictionary

In [108]:
#key:value
#inner_key: inner_value

ipl_season = {2015 : matches[matches.season == 2015].winner.value_counts().to_dict(), 2016 : matches[matches.season == 2016].winner.value_counts().to_dict()}
ipl_season

{2015: {'Chennai Super Kings': 10,
  'Delhi Daredevils': 5,
  'Kings XI Punjab': 3,
  'Kolkata Knight Riders': 7,
  'Mumbai Indians': 10,
  'Rajasthan Royals': 7,
  'Royal Challengers Bangalore': 8,
  'Sunrisers Hyderabad': 7},
 2016: {'Delhi Daredevils': 7,
  'Gujarat Lions': 9,
  'Kings XI Punjab': 4,
  'Kolkata Knight Riders': 8,
  'Mumbai Indians': 7,
  'Rising Pune Supergiants': 5,
  'Royal Challengers Bangalore': 9,
  'Sunrisers Hyderabad': 11}}

In [ ]:
len(ipl_season) ???

#### Accessing values

In [109]:
ipl_season[2016]

{'Delhi Daredevils': 7,
 'Gujarat Lions': 9,
 'Kings XI Punjab': 4,
 'Kolkata Knight Riders': 8,
 'Mumbai Indians': 7,
 'Rising Pune Supergiants': 5,
 'Royal Challengers Bangalore': 9,
 'Sunrisers Hyderabad': 11}

In [110]:
ipl_season[2016]['Gujarat Lions']

9

#### Updating the nested dictionary

In [111]:
ipl_season[2016]['Chennai Super Kings'] = 0
ipl_season

{2015: {'Chennai Super Kings': 10,
  'Delhi Daredevils': 5,
  'Kings XI Punjab': 3,
  'Kolkata Knight Riders': 7,
  'Mumbai Indians': 10,
  'Rajasthan Royals': 7,
  'Royal Challengers Bangalore': 8,
  'Sunrisers Hyderabad': 7},
 2016: {'Chennai Super Kings': 0,
  'Delhi Daredevils': 7,
  'Gujarat Lions': 9,
  'Kings XI Punjab': 4,
  'Kolkata Knight Riders': 8,
  'Mumbai Indians': 7,
  'Rising Pune Supergiants': 5,
  'Royal Challengers Bangalore': 9,
  'Sunrisers Hyderabad': 11}}

#### Functions and methods

In [112]:
ipl_season.keys()

dict_keys([2015, 2016])

In [113]:
ipl_season.values()

dict_values([{'Mumbai Indians': 10, 'Chennai Super Kings': 10, 'Royal Challengers Bangalore': 8, 'Sunrisers Hyderabad': 7, 'Rajasthan Royals': 7, 'Kolkata Knight Riders': 7, 'Delhi Daredevils': 5, 'Kings XI Punjab': 3}, {'Sunrisers Hyderabad': 11, 'Royal Challengers Bangalore': 9, 'Gujarat Lions': 9, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 7, 'Delhi Daredevils': 7, 'Rising Pune Supergiants': 5, 'Kings XI Punjab': 4, 'Chennai Super Kings': 0}])

#### Append dictionaries
The update method merges existing elements if they conflict.

In [118]:
ipl.update(ipl_season)
ipl

{2015: {'Chennai Super Kings': 10,
  'Delhi Daredevils': 5,
  'Kings XI Punjab': 3,
  'Kolkata Knight Riders': 7,
  'Mumbai Indians': 10,
  'Rajasthan Royals': 7,
  'Royal Challengers Bangalore': 8,
  'Sunrisers Hyderabad': 7},
 2016: {'Chennai Super Kings': 0,
  'Delhi Daredevils': 7,
  'Gujarat Lions': 9,
  'Kings XI Punjab': 4,
  'Kolkata Knight Riders': 8,
  'Mumbai Indians': 7,
  'Rising Pune Supergiants': 5,
  'Royal Challengers Bangalore': 9,
  'Sunrisers Hyderabad': 11},
 'Chennai Super Kings': 'bat',
 'Deccan Chargers': 'bat',
 'Kings XI Punjab': 'bat',
 'Mumbai Indians': 'bat',
 'Rajasthan Royals': 'bat',
 'Royal Challengers Bangalore': 'field'}

#### Creating Dictionary using zip

In [119]:
team = ['MI', 'KKR', 'RCB']
captain = ['Rohit Sharma', 'Gautam Gambhir', 'Shane Watson', 'Dhoni']
team_captain = dict(zip(team, captain))
team_captain

import numpy as np
l1 = [1,2,3]
l2 = [10,20,30]
dict(zip(l1, l2))

{1: 10, 2: 20, 3: 30}

### Tuples
https://docs.python.org/3/tutorial/datastructures.html?highlight=lists#tuples-and-sequences

In [ ]:
#A tuple is an immutable list. A tuple can not be changed in any way once it is created.
#So append(), extend(), insert(), remove(), and pop() would not work on a tuple
#The only operation possible is create a slice that would make a new tuple.

In [120]:
t = ('a', 5,3,'b', 'c')
t

('a', 5, 3, 'b', 'c')

In [121]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [23]:
t1 = t[2:4]
t1

(3, 'b')

### Sets: un-ordered collection of values
Sets are unordered so no index

https://docs.python.org/3/tutorial/datastructures.html?highlight=lists#sets

In [24]:
s = {1,2,3,3} 
d = {'key':'value'}
s

{1, 2, 3}

In [26]:
s1 = {'A', 'a', 'A', 'aa', 'b', 5,8,8.0, 0.8}
s1

{0.8, 5, 8, 'A', 'a', 'aa', 'b'}

#### Changing the value in a set

In [28]:
s.add(6)
s.add(6)
s

{1, 2, 3, 6}

In [30]:
s.update(s1)
s

{0.8, 1, 2, 3, 5, 6, 8, 'A', 'a', 'aa', 'b'}

#### Removing value from a set

In [33]:
# If you try to remove an element from a set that is not present, remove would throw an error
s.remove(1) 
s

KeyError: 1

In [34]:
s.discard(2)
s

{0.8, 3, 5, 6, 8, 'A', 'a', 'aa', 'b'}

In [35]:
len(s)

9

### Conditionals: Control flow statements

    Statements that control the flow of execution depending on some condition. 
    Boolean expression - determines which branch is executed. 
    Keywords - if , elif , and else.

#### if-else basics

In [48]:
if 2 > 10:
    print('2 is greater than 1')

In [49]:
x = 20
y = 20
z = 100

if x > y:
    print( "x is greater than y")
elif x == y:
    print( "x is equal to y")
else:
    print( "x is less than y")

x is equal to y

In [53]:
#Multiple conditions:

x = 20
y = 10
z = 14

if x > y and y > z:  #logical operator
    print( True)
else:
    print( False)

False

In [54]:
x = 2
y = 1
z = 3

if (x > y and y > z) or z > x: # Use brackets to enforce precedence
    print( True)
else:
    print( False)

True

In [466]:
x = 2
y = 1
z = 3

if x > y and (y > z or z > x): 
    print( True)
else:
    print( False)

False

### Loops
    While: Condition based
    For: Iteration based

#### while loop
    Condition
    Sequence of instructions
    Exit/Infinite loop
    
A condition is checked over iteration and a block of code is executed till condition is True or forever

In [56]:
#Print numbers from 1 to 6 using while loop

i = 0
while i < 6:    #breaking condition
    i = i + 1
    print( i)

1
2
3
4
5
6

In [57]:
#Using break and continue

i = 0
while True:  #infinite loop
    i += 1
    print( i)
    if i == 10:
        break # you have to call break to break out of the loop

1
2
3
4
5
6
7
8
9
10

In [61]:
#Print odd numbers between 0 to 100

i = 0
while i < 100:
    i += 1
    if i%2 == 0:    
        continue

    print( i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### Range()
Upper and lower bounds of an array

https://docs.python.org/3/library/functions.html#func-range

In [63]:
#range(stop) #default start 0, default step 1
#range(start, stop[, step])

for i in range(10): 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

### for loop
    Iterate over the members of a sequence in order
    Execute the block
    Exit

In [68]:
#iterating the list on element
l = [24, 33, 12, 99, 4]

for num in l:
    print( num)
    
s = 'my_string'
for i in s:
    print(i*2)

24
33
12
99
4
mm
yy
__
ss
tt
rr
ii
nn
gg

In [69]:
#Return a new list with cube of all the values
l = [1,2,3,4,5]
cube_l = []

for number in l:
    c = number**3
    cube_l.append(c)
    
cube_l

[1, 8, 27, 64, 125]

In [73]:
#iterating the list on index : Used when you have to compare an element with another element
l = [24, 33, 12, 99, 4]

for index in range(len(l)-1):  #range(4) [0,1,2,3]
    #print (index) 
    print (l[index], l[index+1])

24 33
33 12
12 99
99 4

In [75]:

l = [2,6,4,9,1]

#If number is smaller than next number, multiply it by 10
new_l = []
for i in range(0, len(l)-1, 1):
    #print(l[i], l[i+1], l[i] < l[i+1])
    if l[i] < l[i+1]:
        new_l.append(l[i]*10)
    else:
        new_l.append(l[i])
    
new_l

[20, 6, 40, 9]

#### input([prompt])
    Get input from the users
    The function then reads a line from input, converts it to a string

https://docs.python.org/3/library/functions.html#input

In [79]:
s = input( "Enter a few numbers separated by space: ") #raw_input
s

Enter a few numbers separated by space: 5 8 3 56

'5 8 3 56'

In [80]:
s = s.split(' ')
s

['5', '8', '3', '56']

In [83]:
int(s[0]) * 2

10

#### Now convert this list of strings to list of integers

In [84]:
int_l = []
for elem in s:
    int_l.append(int(elem))
    
int_l

[5, 8, 3, 56]

#### List Comprehension

In [86]:
s = input('Enter numbers separated by space: ')
s = s.split(' ')
l = [int( element) for element in s]  #[return value for elemebt in your_data]
l

Enter numbers separated by space: 6 2 5 12

[6, 2, 5, 12]

#### Iterating over a dictionary

In [467]:
d = {'India': 'New Delhi', 'USA': 'Washington DC', 'UK': 'London'}
#for key, val in d.items():
#    print(key, val)

for element in d:
    print(element)

India
USA
UK

In [12]:
s = 'abc'
s
for blah in s:
    print(blah * 2)

aa
bb
cc

In [92]:
#Keywords are reserved and cannot be used as identifiers
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [95]:
#Builtins are a list of commonly used, preloaded functions, constants, types, and exceptions
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### Functions
    Functions are "self contained" modules of code that accomplish a specific task
    They take in data, process it, and return a result
    Once a function is written, it can be used over and over and over again

In [97]:
#Examples of python built-in functions
'abc'.upper()
'ABC'.title()

'Abc'

In [99]:
sum([1,2,3,4,5,6,7,8,9,10])
sum([1,2,3,4,5,6,7,8,9,10], 100) #optional start

155

In [100]:
l = [9,5,15,2,61]
l.sort() #Only for lists
l

[2, 5, 9, 15, 61]

In [101]:
sorted([9,5,15,2,61]) #accepts any iterable
#sorted([9,5,15,2,61], reverse = True) #Default is False

[2, 5, 9, 15, 61]

In [102]:
sorted(['Not','a', 'very', 'wierd', 'way', 'to', 'explain', 'sorted'] ) # Without argument key
#sorted(['Not','a', 'very', 'wierd', 'way', 'to', 'explain', 'sorted'], key = str.lower ) # With argument key

['Not', 'a', 'explain', 'sorted', 'to', 'very', 'way', 'wierd']

In [105]:
t = [('Mary', 'B', 21), ('Jane', 'X', 49),('Peter', 'A', 2)]
sorted(t)
sorted(t, key = lambda x: x[2])

[('Peter', 'A', 2), ('Mary', 'B', 21), ('Jane', 'X', 49)]

#### Write your own function

In [108]:
def find_mean(l):
    sum_l = 0
    len_l = 0
    for element in l:
        sum_l = sum_l + element #assignment
        len_l+=1
    return (sum_l/len_l)
    #return len_l

find_mean([1,2,3,4,5,9,11])

7

In [ ]:
# Exercise: Write a function that returns the length of a list

In [102]:
# If there is a 3 followed by 4 in a list, swap them.
def swap_3_and_4( l):
    for index in range( len(l)-1):
        if l[index] == 3 and l[index+1] == 4:
            l[index] ,l[index+1] = l[index+1] ,l[index]

    return l

#swap_3_and_4([1,2,3,4]) 
swap_3_and_4([9,3,4,5,3,4])

[9, 4, 3, 5, 4, 3]

### Anonymous Functions (lambda functions)
    Anonymous functions are functions that are defined without a name
    Regular functions are defined using def, anonymous are defined using lambda

In [109]:
my_cube = lambda x: x**3
my_cube(10)

1000

In [111]:
#if-else in lambda
my_max = lambda x, y: x if x > y else y
my_max(150,900)

900

### File I/O - Reading and writing files

https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files

In [528]:
f = open('test.txt') # Returns a file object
f

In [525]:
# Functions 
f.read()

'Lets edit the test file.Now adding line 2.\nLets also add line 3.'

In [529]:
f.close()

#### Modes:

Optional argument to function open(). Default value is 'r'

    'r' – Read mode, only reading 
    'w' – Write mode, editing file. Use carefully as all the existing content will get erased.
    'a' – Append mode, add new data to the end of the file
    'r+' – Read and write mode

In [498]:
f = open('test.txt', 'w')
f.write('Lets edit the test file.')
f.write('Now adding line 2.\nLets also add line 3.')
f.close()

In [499]:
f = open('test.txt', 'r') # Need to explicitly add newline character (\n) to move data to next line
f.read()

'Lets edit the test file.Now adding line 2.\nLets also add line 3.'

In [500]:
f.read()

''

In [501]:
# read() moves the cursor to the end of the file, use seek to move it back to the desired position
f.seek(0)
f.read()

'Lets edit the test file.Now adding line 2.\nLets also add line 3.'

In [502]:
# read file object line by line
f.seek(0)
f.readline()

'Lets edit the test file.Now adding line 2.\n'

In [503]:
f.readline()

'Lets also add line 3.'

In [504]:
f.close()

#### Iterating a file object

In [516]:
f = open('matches_small.csv', 'r+')
f.readline()

'id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3\n'

In [517]:
f.readline()

'1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,\n'

In [518]:
# Copy the lines containing Bangalore to a list

f.seek(0)
l = []
for line in f:
    if 'Bangalore' in line:
        l.append(line.strip())
        
l

['1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,',
 '4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,',
 '11,2008,Bangalore,2008-04-26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,SR Watson,M Chinnaswamy Stadium,MR Benson,IL Howell,',
 '15,2008,Bangalore,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,13,0,MS Dhoni,M Chinnaswamy Stadium,BR Doctrove,RB Tiffin,',
 '17,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,']

In [519]:
f.close()

#### Using with statement

In [534]:
# Copy the lines containing Bangalore to a another csv matches_Bangalore.csv

with open('matches_Bangalore.csv', 'w') as outfile, open('matches_small.csv', 'r') as infile:
    outfile.write(infile.readline()) # Ensure that the first row (header) is included  
    for line in infile:
        if 'Bangalore' in line:
            outfile.write(line)

In [536]:
# Check if the csv was created as required
pd.read_csv('matches_Bangalore.csv')

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
2,11,2008,Bangalore,2008-04-26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,SR Watson,M Chinnaswamy Stadium,MR Benson,IL Howell,NaN
3,15,2008,Bangalore,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,13,0,MS Dhoni,M Chinnaswamy Stadium,BR Doctrove,RB Tiffin,NaN
4,17,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN

### Practice problems

In [135]:
#Ask the user to enter a list of numbers separated by spaces.
# Find out if any two adjacent numbers have a difference of 2 for example, 3 & 5 OR 2 & 4.
# Print those number pairs

s = input( "Enter a few numbers separated by space: ")
s = s.split(' ')
l = [int( element) for element in s]

for index in range(len(l)-1):
    if abs(l[index] - l[index + 1]) == 2:
        print(l[index],  l[index + 1])

Enter a few numbers separated by space: 3 5 6 4 7 9
3 5
6 4
7 9

In [471]:
d = {'students':{'Leah': {'math': 95, 'science': 81},'Caden': {'math': 74, 'science': 86},'Neil': {'math': 89, 'science': 65}}}
d

{'students': {'Caden': {'math': 74, 'science': 86},
  'Leah': {'math': 95, 'science': 81},
  'Neil': {'math': 89, 'science': 65}}}

In [472]:
# Print name of the student who got the highest marks in maths and science respectively in the dictionary d.

math = {}
science = {}

for key, val in d.items():
    for key1, val1 in val.items():
        math.update({key1: val1['math']})
        science.update({key1: val1['science']})
        
print(math)
print(science)

{'Leah': 95, 'Caden': 74, 'Neil': 89}
{'Leah': 81, 'Caden': 86, 'Neil': 65}

In [473]:
math_highest = max(math, key = math.get)
science_highest = max(science, key = science.get)

print('Math Highest:', math_highest)
print('Science Highest:', science_highest)

Math Highest: Leah
Science Highest: Caden